/*Keep at top to normalize across webbrowsers*/
@import 'normalize';

html {
  scroll-behavior: smooth;
}

/*Top header*/
.top-header {
  min-width: 100%;
  background-color: rgb(255, 255, 255);
  height: 50px;
  position: fixed;
  top: 0;
  outline: 1px solid rgb(235, 235, 235);
  z-index: 10;

  button {
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }
  button:hover{

    text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

#donut-counter-cart {
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 40%;
  background-color: red;
  display: inline-block;
  color: #ffffff;
  position: relative;
  top: -15px;
  left: -20px;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
}

/*Shopping cart*/
.cart {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  z-index: 30;
  box-shadow: 2px 0px 10px rgba($color: #000000, $alpha: 0.5);
}



/*Content*/
.content-container {
  display: flex;
  flex-wrap: wrap;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.banner {
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  min-width: 100%;
  height: 100px;
}


.sorting-box {
  background-color: rgb(255, 255, 255);
  min-width: 100%;
  height: 50px;
  margin: 20px 0;
  display: flex;
  justify-content: center;

  // filter btn
  .filter-btn {
    margin: auto 20px;
    min-height: 30px;
    height: 30px;
  }
    //sort btn
  .sort-btn {
    margin: auto 20px;
    min-height: 30px;
    height: 30px;
  }
  .filter-content {
    // display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    min-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    align-items: center;
    left: 28%;
    margin-top: 40px;

    .filter-type {
      height: 30px;
      width: 100px;
      font-size: 1.2rem;
    }
  }
  .sort-content {
    // display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    min-height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    align-items: center;
    margin-top: 40px;
    left: 37%;
    button {
      height: 30px;
      width: 100px;
      font-size: 1.2rem;
    }
  }

  //sort range
  .sort-range {
    width: 30%;
    position: relative;
    float: right;

    .range-text {
      display: inline;
    }

    .range-bar-holder {
      width: 100%;

      .range-bar {
        position: relative;
        width: 100%;
        height: 2rem;
        display: block;
        margin-left: 20px;

        input[type="range"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          width: 100%;
          background: transparent;
          appearance: none;
          position: absolute;
          z-index: 2;
          height: 100%;
          pointer-events: none;
        }

        input[type="range"]::-ms-track {
          width: 100%;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
        }

        //safari + chrome
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          pointer-events: all;
          cursor: pointer;
          border: 0 none;
          width: 1px;
          height: 1px;
          background: grey;
          border: 10px solid rgb(0, 0, 0);
          border-radius: 50%;
        }

        //mozilla firefox
        input[type="range"]::-moz-range-thumb {
          pointer-events: all;
          cursor: pointer;
          border: 0 none;
          width: 1px;
          height: 1px;
          background: grey;
          border: 10px solid black;
          border-radius: 50%;
        }

        //edge
        input[type="range"]::-ms-thumb {
          pointer-events: all;
          cursor: pointer;
          border: 0 none;
          width: 1px;
          height: 1px;
          background: grey;
          border: 10px solid black;
          border-radius: 50%;
        }

        .range-bg {
          position: absolute;
          width: 100%;
          top: 0.6rem;
          z-index: 1;
          height: 0.8rem;

          .track {
            position: absolute;
            // z-index: 1;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border-radius: 5rem;
            background-color: rgb(212, 212, 212);
          }

          .range {
            position: absolute;
            // z-index: 2;
            top: 0;
            bottom: 0;
            border-radius: 5rem;
            background: rgb(255, 245, 102);
            left: 0%;
            right: 0%;
          }
        }
      }

      .range-price {
        width: 100%;
        color: black;
        display: flex;
        position: absolute;
        left: 3%;
        top: 60%;
        gap: 90%;

        .price-from {
          margin-left: 5px;
          
        }
      }
    }
  }
}


.sort-btn:hover+.sort-content {
  display: flex;
}

.sort-content:hover {
  display: flex;
}

.filter-btn:hover+.filter-content {
  display: flex;
}

.filter-content:hover {
  display: flex;
}

#shadowcast {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  opacity: 0.6;
}

.flex-content {
  background-color: rgb(239, 251, 255);
  min-width: 100vw;
  display: flex;
  text-align: center;
  outline: 1px solid #cccccc;

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  button {
    height: 400px;
    min-width: 100px;
    font-size: 6vh;
    border: none;
    color: rgb(40, 40, 40);
    background-color: rgb(248, 252, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
  }
  button:hover {
      font-variation-settings:
      'FILL' 1,
      'wght' 600,
      'GRAD' 0,
      'opsz' 48;
      opacity: 1;
  }
  button:active {
    background-color: rgb(236, 236, 236);
  }



  .slideshow-button {
    height: 40px;
    min-width: 40px;
    width: 40px;
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 20px;
  }
  .slideshow-button:active {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 0px 0px black;
  }
  .donut-info {
    display: flex;
    flex-wrap: wrap;
    min-width: calc(100% - 200px);
    justify-content: space-evenly;

    h3 {
      margin: 0 auto;
      min-width: calc(100% - 200px);
    }

    .img-space {
      min-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h4 {
      min-width: 50%;
    }

    .donut-rating {
      visibility: hidden;
    }
  }
}

/*Form*/

form {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(176, 254, 255, 0.765);
  position: fixed;
  z-index: 60;
  left: 25%;
}

label {
  margin-top: 0.5rem;
}

input {
  width: 15rem;
  height: 2rem;
}

#postNumber,
#locality,
#doorCode,
#cardNumber,
#date,
#cvc {
  width: 5rem;
}

select {
  height: 2rem;
}

.hidden {
  display: none !important;
}

/*hiding some input fields*/
.hide{
  display: none;
}

/*Form errors*/
.error-hidden1{
  visibility: hidden;
}

.error-hidden2{
  visibility: hidden;
}

.error-hidden3{
  visibility: hidden;
}

.error-hidden4{
  visibility: hidden;
}

.error-hidden5{
  visibility: hidden;
}

.error-hidden6{
  visibility: hidden;
}

.error-hidden7{
  visibility: hidden;
}

.error-hidden8{
  visibility: hidden;
}

.error-hidden9{
  visibility: hidden;
}

.error-hidden10{
  visibility: hidden;
}

.error-hidden11{
  visibility: hidden;
}

.error-hidden12{
  visibility: hidden;
}

.error-hidden13{
  visibility: hidden;
}

/*Keep at bottom to make sure it overrides default behavior*/
@media screen and (min-width: 1024px) {
  @import 'desktop';
}